@import '../../assets/css/variable.scss';

.trend-analysis-container {
	.title {
		font-size: 1.3rem;
		color: $primary;
	}
	table {
		color: $gray !important;
	}
	th {
		border-bottom: 2px solid $light-gray;
	}
	.remove-row-border {
		td {
			border: none !important;
		}
		td.highlight {
			color: $green !important;
		}
	}
}
