@import 'variable.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f7f7f7;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Custom style  */
#root {
	height: 100vh;
}

/* General classes */
.cursor-pointer {
	cursor: pointer;
}

.break {
	height: 7px;
	width: 100%;
	background-color: #f5f5f5;
}

/* Override classes */
// .active-tab {
// 	border-bottom: 3px solid #155298 !important;
// 	border-width: 50% !important;
// }
.remove-border-radius {
	border-radius: 0 !important;
}

/* colors */
.color-primary {
	color: $primary;
}
.color-gray {
	color: $gray;
}
.bgd-primary {
	background-color: $primary;
}
.bgd-gray {
	background-color: $gray;
}
