@import '../../assets/css/variable.scss';

.layout-container {
	border: 7px solid $green;
	width: 90%;
	background-color: $white;
	position: absolute;
	top: 10%;
	left: 1%;
	right: 1%;
	max-width: 70rem;
}
