@import '../../../../assets/css/variable.scss';

.header-heading-container {
	.image-container {
		padding: 1.2rem;
		ion-icon {
			font-size: 2.5rem;
			color: $white;
			height: 3rem;
			width: 3rem;
		}
	}

	.content-container {
		.heading {
			font-size: 1.5rem;
		}
	}
}

.navigation-tabs {
	.nav-item-active {
		color: $primary;
		position: relative;
		&:after {
			content: '';
			background: $primary;
			position: absolute;
			bottom: -19px;
			left: 20%;
			right: 20%;
			height: 4px;
			width: 60%;
		}
	}
}
